<h1>Formulário</h1>

<form method="post" action="/produtos">
    Nome: <input type="text" name="name"/>
    </br>
    Descrição: <input type="text" name="descricao"/>
    </br>
    Preço: <input type="text" name="preco"/>
    </br>
    Quantidade: <input type="number" name="quantidade"/>
    </br>
    <input type="submit"/>
</form>